/**
NAVIGATION: 4 options of menu
 */
.menu-container {
    background-color: #97989a;
    height: 48px;
    width: 1000px;
    margin: 20px auto;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

ul {
    margin: 0 2px;
    padding: 0;
    list-style: none;
}

li {
    border-right: 4px solid #e6e7e9;
    width: 196px;
    height: 48px;
    float: left;
}

.menu-five {
    border-right: none;
}